@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cores base (ESCURAS por padrão) */
:root {
  --background: #1a1f16;
  --foreground: #f1c40f;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-retro: var(--font-retro);
}

/* Se quiser manter tema claro opcionalmente */
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

/* Theme inline para uso com @theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-retro: var(--font-retro);
}

/* Aplicando no body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
